<div class="col-4">
    <div class="card" style="width: 18rem;">
      <img
        src="https://media.istockphoto.com/id/821399028/photo/tamilnadu-idli-sambar.jpg?s=612x612&w=0&k=20&c=pKFZEDydXZZpF1N7pMz9snwIK4HP9qghgNrNFMGCZv4="
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{% block name %}{% endblock %}</h5> 
        <div class="container">
            <input type="button" class="inc"style="width:30px;" onclick="decrementValue()" value="-" />
            <input type="text" name="quantity" value="1" maxlength="2" max="10" size="1" id="number" />
            <input type="button" class="inc" style="width:30px;" onclick="incrementValue()" value="+" />
            </div> 
            <p style="padding-left:50px;">Price:60/- for 3 nos.</p>
        <p class="card-text">
            </p>
        <a href="#" class="btn btn-primary">Add</a>
      </div>
    </div>
  </div>